<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <textarea formControlName="text" cols="30" rows="10"></textarea>
  <p *ngIf="form.get('text')?.getError('required')" style="color: red">
    This is a required field.
  </p>
  <p>Letter Count: {{ form.get("text")?.value | letterCount }}</p>

  <input type="text" formControlName="url" placeholder="Enter URL" />
  <button type="submit">Get Data</button>
  <p *ngIf="loading">Loading restaurant. Please wait...</p>
  <ng-container *ngIf="!loading">
    <ng-container *ngIf="restaurant">
      <h5>Restaurant</h5>
      <p>Name: {{ restaurant.name }}</p>
      <p>Description: {{ restaurant.description }}</p>
      <table *ngIf="topWords.length > 0">
        <tr>
          <th>Word</th>
          <th>Occurence</th>
        </tr>
        <tr *ngFor="let word of topWords">
          <td>{{ word.text }}</td>
          <td>{{ word.occurence }}</td>
        </tr>
      </table>
    </ng-container>
  </ng-container>
</form>
